 * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: Arial, Helvetica, sans-serif;
    }

    body {
      background: #f9f9f9;
      color: #333;
      line-height: 1.6;
    }

    /* Navbar */
    header {
      background: #ff7a00;
      color: #fff;
      padding: 10px 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: nowrap;
    }

    header h1 {
      font-size: 2rem;
      white-space: nowrap;
    }

   nav {
  display: flex;
  align-items: center;
  gap: 15px;
  flex-wrap: nowrap;
  }

    nav a {
      color: #fff;
      margin-left: 20px;
      text-decoration: none;
      font-weight: bold;
      white-space: nowrap;
    }

    nav a:hover {
      text-decoration: underline;
    }

    /* Hero Section */
    .hero {
      background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('https://images.unsplash.com/photo-1503951914875-452162b0f3f1');
      background-size: cover;
      background-position: center;
      color: #fff;
      height: 80vh;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding: 20px;
    }

    .hero h2 {
      font-size: 48px;
      margin-bottom: 15px;
    }

    .hero p {
      font-size: 20px;
      margin-bottom: 25px;
    }

    .btn {
      background: #ff7a00;
      color: #fff;
      padding: 12px 25px;
      border: none;
      cursor: pointer;
      font-size: 16px;
      border-radius: 4px;
    }

    .btn:hover {
      background: #e56d00;
    }

    /* Sections */
    section {
      padding: 60px 30px;
      max-width: 1100px;
      margin: auto;
    }

    section h3 {
      text-align: center;
      margin-bottom: 40px;
      font-size: 32px;
      color: #ff7a00;
    }

    /* Services */
    .services {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 20px;
    }

    .service {
      background: #fff;
      padding: 25px;
      border-radius: 6px;
      text-align: center;
      box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    }

    .service h4 {
      margin-bottom: 10px;
    }

    /* Contact */
    .contact {
      text-align: center;
    }

    .contact p {
      margin-bottom: 10px;
    }

    a {
  color: orange;
}

    footer {
      background: #222;
      color: #fff;
      text-align: center;
      padding: 20px;
      margin-top: 40px;
    }

    @media  (max-width: 480px) {
      .hero h2 {
        font-size: 34px;
      }
      h1{
        font: size 1.5em; 
      }
    }

    